<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style rel="stylesheet">
  body {
    padding: 15px;
    flex: auto;
  }
</style>

<a href='/handleLogin?state={{state}}' class="waves-effect waves-light btn github">
 <i class="material-icons">done</i>
 Sign Up!
</a>


<script src="http://code.jquery.com/jquery.js"></script>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
