<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style rel="stylesheet">
  body {
    padding: 15px;
    flex: auto;
  }
</style>

<a class="waves-effect waves-light btn github">
 <i class="material-icons">done</i>
 Sign Up!
</a>


<script src="http://code.jquery.com/jquery.js"></script>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script>
  const githubButton = document.getElementsByClassName('github');
  $('.github').on('click', function (e) {
    const state = '{{state}}';
    const fetch_url = `https://github.com/login/oauth/authorize?client_id=98ca770e0005bde3fb7f&state=${state}&scope=user%20repo%20public_repo&allow_signup=true`;
    window.open(fetch_url);
  })
</script>
